body {
    height: 100vh;
    background-color: #eeeeee ;
    display: flex;
    justify-content: center;
}
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}



body, html {
    margin: 0;
    padding: 0;
}
